body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: "Public Sans", sans-serif;
    position: relative;
    background-color: #FCFCFC;
}

.kembali-btn {
    position: absolute;
    top: 30px;
    left: 30px;
}

.kembali-btn button {
    padding: 5px 20px;
    border: 1px solid #FD5F00;
    color: #FD5F00;
    background-color: white;
    border-radius: 2px;
    transition: all 0.2s ease-in-out;
}

.kembali-btn button:hover {
    color: white;
    background-color: #FD5F00;
    border: 1px solid #FD5F00;
    cursor: pointer;
}

.kembali-btn button:active {
    color: #FD5F00;
    background-color: white;
    border: 1px solid white;
}

.kontainer .bungkus-page-lupapas {
    display: flex;
    flex-direction: column; 
    align-items: center;  
    padding: 20px;
    border: 1px solid white;
    border-radius: 10px;
    box-shadow: 0 14px 10px 10px rgba(0, 0, 0, 0.1);
    background-color: white;
    width: 400px;
    margin-top: 50px;
}

.bungkus-page-lupapas .teks p {
    color: #226597;
    width: 250px;
    text-align: center;
    font-size: 12px;
    margin-bottom: 30px;
}

.username-lp {
    width: 90%;
}

.username-lp input {
    width: 86.7%;
    padding: 10px 20px;
    border-radius: 2px;
    border: 1px solid gray;
    margin-top: 10px;
    margin-bottom: 10px;
}

.username-field input:focus {
    border: 2px solid #FD5F00;
    outline: none;
    margin-top: 8px;
}

.kontainer .lanjut-btn {
    display: flex;           
    justify-content: center; 
    width: 100%;             
}

.kontainer .lanjut-btn button {
    padding: 10px 0;
    text-align: center;
    width: 350px;                      
    border-radius: 5px;
    border: 1px solid #FD5F00;
    background-color: #FD5F00;
    color: white;
    margin-left: 0px;
    margin-right: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    transition: all 0.1s ease-in-out;
}

.lanjut-btn a {
    text-decoration: none;
    color: white;
}

.lanjut-btn button:hover {
    background-color: white;
    color: #FD5F00;
    border: 1px solid #FD5F00;
    cursor: pointer;
}

.lanjut-btn button:hover a {
    color: #FD5F00;
}

.lanjut-btn button:active {
    background-color: #FD5F00;
    color: white;
    border: 1px solid #FD5F00;
}

.lanjut-btn button:active a {
    color: white;
}