body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: "Public Sans", sans-serif;
    position: relative;
    background-color: #FCFCFC;
}

.kembali-btn {
    position: absolute;
    top: 30px;
    left: 30px;
}

.kembali-btn button {
    padding: 5px 20px;
    border: 1px solid #FD5F00;
    color: #FD5F00;
    background-color: white;
    border-radius: 2px;
    transition: all 0.2s ease-in-out;
}

.kembali-btn button:hover {
    color: white;
    background-color: #FD5F00;
    border: 1px solid #FD5F00;
    cursor: pointer;
}

.kembali-btn button:active {
    color: #FD5F00;
    background-color: white;
    border: 1px solid white;
}

.kontainer .bungkus-page-login {
    display: flex;
    flex-direction: column; 
    align-items: center;  
    padding: 20px;
    border: 1px solid white;
    border-radius: 10px;
    box-shadow: 0 14px 10px 10px rgba(0, 0, 0, 0.1);
    background-color: white;
    width: 400px;
    margin-top: 50px;
}

.bungkus-page-login .teks p {
    color: #226597;
    width: 250px;
    text-align: center;
    font-size: 12px;
    margin-bottom: 30px;
}

.email-password {
    width: 90%;
}

.email-password input {
    width: 86.7%;
    padding: 10px 20px;
    border-radius: 2px;
    border: 1px solid gray;
    margin-top: 10px;
    margin-bottom: 10px;
}

.password-field {
    position: relative;
    width: 90%;
}

.password-field input {
    width: 90%;
    padding: 10px 40px 10px 20px; /* Tambah padding kanan untuk ruang ikon */
    border-radius: 2px;
    border: 1px solid gray;
    margin: 10px 0;
}

.password-field img {
    position: absolute;
    right: -10px;
    top: 20px;
    cursor: pointer;
    width: 20px;
    display: none;
}

.email-field input:focus {
    border: 2px solid #FD5F00;
    outline: none;
    margin-top: 8px;
}

.password-field input:focus {
    border: 2px solid #FD5F00;
    outline: none;
}

.kontainer .login-btn {
    display: flex;           
    justify-content: center; 
    width: 100%;             
}

.kontainer .login-btn button {
    padding: 10px 0;
    text-align: center;
    width: 350px;                      
    border-radius: 5px;
    border: 1px solid #FD5F00;
    background-color: #FD5F00;
    color: white;
    margin-left: 0px;
    margin-right: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    transition: all 0.1s ease-in-out;
}

.login-btn button:hover {
    background-color: white;
    color: #FD5F00;
    border: 1px solid #FD5F00;
    cursor: pointer;
}

.login-btn button:active {
    background-color: #FD5F00;
    color: white;
    border: 1px solid #FD5F00;
}

.daftar-lupaPassword {
    font-size: 12px;
    margin-left: 19px;
}

.daftar-lupaPassword p a {
    text-decoration: none;
    color: #226597;
}

.daftar-lupaPassword p a:hover {
    text-decoration: underline;
}